/* * {
  border: 1px solid red;
} */
body {
  background: gray;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.background {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin: auto;
  align-items: stretch;
  margin-bottom: auto;
  margin-top: auto;
  /* border: 1px solid black; */
}
.header {
  flex: 1;
}
.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap-reverse;
}

/* children: setup and canvas */
.setup {
  flex-shrink: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* circle */
.colorSelect {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.color-select:hover {
  scale: 1.1 1.1;
}
.colorMode {
  font-weight: bold;
}
@keyframes rainbow-animation {
  0%,
  100% {
    color: red;
  }
  16.67% {
    color: orange;
  }
  33.3% {
    color: yellow;
  }
  50% {
    color: green;
  }
  66.67% {
    color: blue;
  }
  83.33% {
    color: indigo;
  }
}
.rainbowMode {
  animation: rainbow-animation 10s infinite;
  /* text-shadow: -1px -1px black, 1px 1px black; */
}
/* buttons */
button {
  border-radius: 20px;
}
.range {
  color: black;
}
.border {
  flex: 1;
}
.canvas {
  border: 3px dotted gray;
  height: 300px;
  width: 300px;
  background: white;
  margin: auto;
  border-radius: 5px;
  display: grid;
  cursor: crosshair;
}

.divElement {
  /* border: 0.0001px solid #e3dede; */
}
.footer {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin-bottom: auto;
  margin-top: auto;
  align-items: flex-end;
}
footer {
  flex-flow: column;
}
